@use "./colors.scss" as *;

/* Denizen Script Colors */
.script_comment_header {
  color: $c-syntax-comment-header;
}
.script_comment_normal {
  color: $c-syntax-comment-normal;
}
.script_comment_code {
  color: $c-syntax-comment-code;
}
.script_comment_todo {
  color: $c-syntax-comment-todo;
}
.script_key {
  color: $c-syntax-script-key;
}
.script_key_inline {
  color: $c-syntax-script-key-inline;
  font-style: italic;
}
.script_command {
  color: $c-syntax-script-command;
  font-style: italic;
}
.script_quote_double {
  color: $c-syntax-script-quote-double;
}
.script_quote_single {
  color: $c-syntax-script-quote-single;
}
.script_tag {
  color: $c-syntax-script-tag;
}
.script_tag_dot {
  color: $c-syntax-script-tag-dot;
}
.script_tag_param {
  color: $c-syntax-script-tag-param;
}
.script_tag_param_bracket {
  color: $c-syntax-script-tag-param-bracket;
}
.script_colon {
  color: $c-syntax-script-colon;
  font-weight: bold;
}
.script_bad_space {
  color: $c-syntax-script-bad-space;
  background-color: #bc4b4b;
}
.script_normal {
  color: $c-syntax-script-normal;
}
.script_def_name {
  color: $c-syntax-script-def-name;
  font-style: normal;
  text-transform: uppercase;
}
/* Denizen Command Syntax Colors */
.syntax_command {
  color: $c-syntax-command;
  font-style: italic;
}
.syntax_required {
  color: $c-syntax-required;
  font-weight: bold;
}
.syntax_optional {
  color: $c-syntax-optional;
}
.syntax_default {
  color: $c-syntax-default;
  font-style: italic;
}
.syntax_fillable {
  color: $c-syntax-fillable;
}
.syntax_list {
  color: $c-syntax-list;
}
.syntax_colon {
  color: $c-syntax-colon;
  font-weight: bold;
}
