// Config for colors and other SASS variables
$c-denizen-yellow: #fff48f;

/*
 * Text-related colors
 */
$c-text-titles: #141412;
$c-text-normal: #595959;
$c-text-highlight: #000000;
$c-text-light: #959595;

$c-text-underline: #009b72;

$c-background: #ffffff;

/*
 * Lines and other layout-related colors
 */
// table lines, rules, etc.
$c-rules-normal: #cfcec9;

/*
 * Syntax highlighting-related colors
 */
// code blocks/layout colors:
$c-codeblock-background: #0f0f0a;
// text/script colors:
$c-syntax-comment-header: #f47d78;
$c-syntax-comment-normal: #777788;
$c-syntax-comment-code: #7fff7f;
$c-syntax-comment-todo: #fee75c;
$c-syntax-script-key: #f79f57;
$c-syntax-script-key-inline: #f79f57;
$c-syntax-script-command: #ff8bf3;
$c-syntax-script-quote-double: #8aecf3;
$c-syntax-script-quote-single: #8aecf3;
$c-syntax-script-tag: #a1a1ac;
$c-syntax-script-tag-dot: #d951ff;
$c-syntax-script-tag-param: #696cfc;
$c-syntax-script-tag-param-bracket: #7777ff;
$c-syntax-script-colon: #00bacc;
$c-syntax-script-bad-space: #bc4b4b;
$c-syntax-script-normal: #ffffff;
$c-syntax-script-def-name: #fee75c;
$c-syntax-command: #ff8bf3;
$c-syntax-required: #696cfc;
$c-syntax-optional: #8aecf3;
$c-syntax-default: #7fff7f;
$c-syntax-fillable: #a1a1ac;
$c-syntax-list: #eeeeff;
$c-syntax-colon: #00bacc;

/*
 * Layout-related values
 */
// m prefix stands for margin (also used for padding)
$m-content: var(--content-margin);

$m-codeblock-multiline: 1.1rem 1.4rem; // mainly usage exemples
$m-codeblock-inline: 0.3rem 0.6rem; // mainly "related tags" and "syntax"
$m-pills-small: $m-codeblock-inline; // the pills are the list of categories/tags in the header of each page
$m-pills-big: 0.5rem 1rem;

:root {
  --content-margin: 15vw;

  @media screen and (max-width: 1200px) {
    --content-margin: 10vw;
  }
  @media screen and (max-width: 800px) {
    --content-margin: 15px;
  }
}

/*
 * Text-related values
 */
// font-family
$ff-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace; // bootstrap's default for consistency

// font-sizes
$fs-table-title: 1.6rem; // titles of tables (docs entries)
$fs-text: 1rem; // descriptions, default text
$fs-text-small: 0.9rem; // table titles, search aids, etc.
$fs-code: 1rem; // all code blocks, inline code, etc.

/*
 * Other values
 */
$border-normal: $c-rules-normal 1.5px solid;
$border-radius: 3px;
$nav-shadow: 0px 1px 10px #3635317b;
