/*

  Baguette (Light): created with ♡ by apademide

  Using SCSS for convenience as overriding Bootstrap's CSS requires high specificity of selectors

  Command to compile this file to CSS, assuming the working directory is the root of the project:
  (sass is required, install it with `yarn global install sass` or whatever other package manager you use)

  sass --watch wwwroot/css/theme/colors_baguette/index.scss:wwwroot/css/theme/colors_baguette.css --style compressed --no-source-map

  --watch               watch for changes and recompile, omit to compile once/when not developing
  --style compressed    minifies the output, so it's a tad smaller to ship
  --no-source-map       don't generate a source map. Best to include it in development, but do not ship it when pushing to the repo as it makes the css folder messy
  --sourcemap=none      depending on your sass version, this might be required instead of --no-source-map

 */

// Responsible for all the syntax highlighting colors and a few others
@use "./colors.scss";
// Responsible for the layout of each "doc entry"
@use "./tables.scss";

@import "colors_light.css";

/* Baguette (Light): created by apademide */
/* Global appearance */
:root {
  --d-yellow: #fff48f;
  --very-black: hsl(60, 20%, 5%);
  --black: hsl(54, 10%, 35%);
  --gray: hsl(54, 5%, 80%);
  --background: hsl(54, 20%, 97%);
  --shadow-color: #3635317b;
  --green: #299b7d;
  --tag: var(--gray);
  --margin: 15vw;

  --width: 70vw;
}
@media (width < 1200) {
  :root {
    --margin: 5vw;
    --width: 90vw;
  }
}
body {
  background-color: var(--background);
  color: var(--black);
}
a,
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 2px;
  color: var(--very-black);
}
hr {
  margin: 0 0 25px 0;
  border: 0;
  border-bottom: var(--gray) 1.5px solid;
}
/* NavBar */
.navbar {
  font-size: 16px;
  box-shadow: 0px 1px 10px var(--shadow-color);
  padding: 10px 20px;
}
nav.bg-primary {
  /* !important required because bootstrap uses it too already >:( */
  background-color: var(--d-yellow) !important;
}
.navbar-dark .navbar-brand {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 0px #222, 2px 2px 0px #222, 3px 3px 0px #222,
    -1px 1px 0px #222, 0px 2px 0px #222, 1px 3px 0px #222, -1px -1px 0px #222,
    -1px 1px 0px #222, 1px -1px 0px #222;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--very-black);
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-item {
  position: relative;
}
.navbar-dark .navbar-nav .nav-item:hover {
  text-decoration: underline;
}
/* Content's header */
.center_helper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 3fr;
}
.center_helper br {
  display: none;
}
.jumbotron {
  background-color: transparent;
  border-bottom: var(--gray) 1.5px solid;
  border-radius: 0;
  grid-column: span 2;
  grid-row: span 1;
  text-align: left;
  padding: 15px 50% 60px var(--margin);
  font-size: 22px;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 0;
}
.jumbotron h3 {
  color: var(--very-black);
  font-size: 40px;
  margin: 0;
}
.jumbotron br {
  display: inline-block;
}
input#search_bar {
  grid-column: span 1;
  grid-row: span 1;
  outline: none;
  padding: 10px 0 10px var(--margin);
  font-size: 20px;
  border: 0;
  background-color: var(--background);
  border-bottom: var(--gray) 1.5px solid;
}
h5 {
  grid-column: span 1;
  grid-row: span 1;
  color: var(--very-black);
  padding: 10px 30% 10px 15px;
  font-size: 20px;
  text-align: left;
  border-bottom: var(--gray) 1.5px solid;
  border-left: var(--gray) 1.5px solid;
  line-height: 30px;
  margin: 0;
}
body > center {
  text-align: left;
  width: 100%;
  overflow: hidden;
}
body > center h4 {
  font-size: 30px;
  padding: 20px 0 15px var(--margin);
  width: 100%;
  color: var(--very-black);
}
.categories_container {
  margin: 0 var(--margin) 5px var(--margin);
  font-size: 0px;
}
.categories_container > a {
  font-size: 16px;
}
.categories_container a,
h4 a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--tag);
  padding: 1px 6px;
  margin: 6px 6px 0 0;
  border-radius: 3px;
}
body > center > a:first-of-type {
  margin-left: var(--margin);
}
/* Docs */
table.table {
  --table-width: calc(100% - (var(--margin) * 2));
  max-width: var(--table-width);
  min-width: var(--table-width);
  overflow: hidden;
  border: 1.5px solid var(--gray);
  padding: 0 100px;
  margin: 0 var(--margin) 70px;
}
.table td {
  padding: 5px 0px 5px 10px;
}
code,
pre > code {
  background-color: var(--very-black);
  display: inline-block;
  white-space: break-spaces;
  border-radius: 3px;
  font-size: 16px;
  padding: 4px 20px;
  margin: 3px 10px 3px 0;
}
pre {
  margin: 0;
}
pre > code {
  width: calc(100% - 10px);
  padding: 20px;
  margin: 6px 0 0 0;
  overflow-y: auto;
}
.doc_name {
  color: #166a54;
}
.td-doc-key,
.td-doc-key:hover {
  min-width: 200px;
  font-size: 15px;
}
.table-secondary > .td-doc-key,
.table-secondary > td > a {
  font-size: 14px;
}
.table-default td:not(.td-doc-key) {
  color: var(--very-black);
  font-size: 18px;
}
.table-primary,
.table-primary td,
.table-hover .table-primary:hover > td,
td,
td:hover,
.table-secondary,
.table-secondary > td,
.table-hover .table-secondary:hover,
.table-hover .table-secondary:hover > td {
  background-color: white;
  color: var(--black);
}
.table-primary td {
  border-color: inherit;
}
.table-primary a {
  text-decoration: none;
}
.doc_name {
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
}
.table-default td,
.table-default td:hover {
  border-top: 1.5px solid var(--gray);
}
.meta_url {
  font-size: 100%;
  color: var(--black);
  opacity: 1;
}
.table-hover .table-warning:hover,
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th,
.table-warning,
.table-warning > td,
.table-warning > th {
  background-color: #ffa64d;
  color: var(--very-black);
  border-top: 1.5px solid var(--gray);
}
.table-hover .table-danger:hover,
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th,
.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: hwb(0 30% 0%);
  color: var(--very-black);
  border-top: 1.5px solid var(--gray);
}
