/*

  Baguette (Light): created with ♡ by apademide

  Using SCSS for convenience as overriding Bootstrap's CSS requires high specificity of selectors

  Command to compile this file to CSS, assuming the working directory is the root of the project:
  (sass is required, install it with `yarn global install sass` or whatever other package manager you use)

  sass --watch wwwroot/css/theme/colors_baguette/index.scss:wwwroot/css/theme/colors_baguette.css --style compressed --no-source-map

  --watch               watch for changes and recompile, omit to compile once/when not developing
  --style compressed    minifies the output, so it's a tad smaller to ship
  --no-source-map       don't generate a source map. Best to include it in development, but do not ship it when pushing to the repo as it makes the css folder messy
  --sourcemap=none      depending on your sass version, this might be required instead of --no-source-map

 */

// Remaining properties from Baguette 1.0.
@use "./general.scss";
// Responsible for all the syntax highlighting colors and a few others
@use "./colors.scss";
// Responsible for the layout of each "doc entry"
@use "./tables.scss";
// Provides variables
@use "./config.scss" as *;

@import "colors_light.css";

/* Baguette (Light): created by apademide */
/* Global appearance */
:root {
  --very-black: hsl(60, 20%, 5%);
  --black: hsl(54, 10%, 35%);
  --gray: hsl(54, 5%, 80%);
  --background: hsl(54, 20%, 97%);
  --shadow-color: #3635317b;
  --green: #299b7d;
  --tag: var(--gray);
  --margin: 15vw;

  --width: 70vw;
}
@media (width < 1200) {
  :root {
    --margin: 5vw;
    --width: 90vw;
  }
}
