@use "./config.scss" as *;

body {
  center {
    text-align: left;
    width: 100%;
    overflow: hidden;

    // table.table is required to increase the specificity and override Bootstrap
    table.table {
      display: block;

      width: 100%;
      max-width: unset; // reset because it's set to 1500px in the original CSS

      margin-inline: 0;
      padding-inline: $m-content;

      overflow: hidden;

      border: none;

      tbody {
        font-size: 1.1rem;

        display: flex;
        flex-direction: column;

        border-radius: $border-radius;
        border: $border-normal;

        tr {
          display: grid;
          grid-template-columns: auto 1fr;

          td {
            border-top: $border-normal;

            // .td-doc-key is the "title" column, the first/left one
            &.td-doc-key {
              font-size: 0.8em;
              width: 200px;
            }
            // the second/right column (the content one) has no class so we select it by position
            &:last-of-type {
              overflow: auto;
            }
          }

          // Table's headline row, "Name: {command|tag|mech|…}"
          &.table-primary {
            &,
            & td {
              color: currentColor;
              border-top: none;
              background-color: transparent;
            }
          }
          // Table's doc row, "{description|syntax|…}"
          &.table-default {
            td {
              // specifically targets code blocks in "usage exemples"
              pre {
                border-radius: $border-radius;
                background-color: $c-codeblock-background;
                padding: $m-codeblock-multiline;
                code {
                }
              }
              // specifically targets inline code blocks, like "related tags" and "syntax"
              & > code,
              & > a > code {
                font-size: 1em;
                border-radius: $border-radius;
                background-color: $c-codeblock-background;
                padding: $m-codeblock-inline;
              }
              & > a {
                text-decoration: none;
              }
            }
          }
          // Table's source row, "Source: {url}"
          &.table-secondary {
            &,
            & td {
              color: currentColor;
              background-color: transparent;
            }
          }
        }

        @media screen and (max-width: 800px) {
          tr {
            display: flex;
            flex-direction: column;

            td {
              &.td-doc-key {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
