@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "NPC Action Search";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h3>Denizen Script NPC Actions</h3>
        <br>NPC Actions go in 'assignment' scripts, and work like 'events' but linked to the assigned NPC.
        <br>Learn about how NPC Actions work in <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.
    </div>
</span>
