@model DocViewModel
@{
    ViewData["Title"] = (Model.IsAll ? "" : "Search '" + Model.SearchText + "' | ") + "Commands";
    ViewData["Description"] = Model.IsAll ? "Command List" : "Command search for '" + Model.SearchText + "'";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h3>Denizen Script Commands</h3>
        <br>Commands are always written with a '-' before them, and are the core component of any script, the primary way to cause things to happen.
        <br>Learn about how commands work in <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.
    </div>
    
    <input type="text" id="search_bar" placeholder="Search Commands...">
    <script>
        document.getElementById('search_bar').addEventListener('keydown', function(e) {
            if (!e)  {
                var e = window.event;
            }
            if (e.keyCode == 13) {
                document.location.href = '/Docs/Commands/' + document.getElementById('search_bar').value;
            }
        }, false);
    </script>
    <br><br>

    @if (Model.IsAll)
    {
        <h5>Showing all @Model.Max commands...</h5>
    }
    else
    {
        <h5>Showing @Model.CurrentlyShown out of @Model.Max commands...</h5>
    }
</span>

@Model.Content
