@model DocViewModel
@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Event Search";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h3>Denizen Script Events</h3>
        <br>Events are a way to listen to things that happened on your server and respond to them through a script. These usually pair with 'world' script containers.
        <br>Learn about how events work in <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.
    </div>
    @if (Model.IsAll)
    {
        <h5>Showing all commands...</h5>
    }
    else
    {
        <h5>Showing @Model.CurrentlyShown out of @Model.Max commands...</h5>
    }
</span>

@Model.Content
