@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Denizen Meta Documentation Website homepage.";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h1>Denizen Meta Documentation Website</h1>
        <br>
        <br><h4>This website contains documentation for Denizen commands, tags, events, etc. It does not teach you how to use Denizen.</h4>
        <br><h5>If you're new to Denizen, follow <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.</h5>
        <br>All Denizen users should be in <a href="https://discord.gg/Q6pZGSR">The Discord</a> where we post changelogs for updates, news, etc. and provide support with scripting.
    </div>
</span>
