@model DocViewModel
@{
    ViewData["Title"] = (Model.IsAll ? "" : "Search '" + Model.SearchText + "'' | ") + "Language Explanations";
    ViewData["Description"] = Model.IsAll ? "Language Explanation List" : "Language Explanation search for '" + Model.SearchText + "'";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h3>Denizen Script Language Explanations</h3>
        <br>Language Explanations explain components of Denizen in a more direct and technical way than <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.
    </div>

    <input type="text" id="search_bar" placeholder="Search Language Explanations...">
    <script>
        document.getElementById('search_bar').addEventListener('keydown', function(e) {
            if (!e)  {
                var e = window.event;
            }
            if (e.keyCode == 13) {
                document.location.href = '/Docs/Languages/' + document.getElementById('search_bar').value;
            }
        }, false);
    </script>
    <br><br>

    @if (Model.IsAll)
    {
        <h5>Showing all @Model.Max language explanations...</h5>
    }
    else
    {
        <h5>Showing @Model.CurrentlyShown out of @Model.Max language explanations...</h5>
    }
</span>

@Model.Content
