@model DocViewModel
@{
    ViewData["Title"] = (Model.IsAll ? "" : "Search '" + Model.SearchText + "'' | ") + "Tags";
    ViewData["Description"] = Model.IsAll ? "Tag List" : "Tag search for '" + Model.SearchText + "'";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h3>Denizen Script Tags</h3>
        <br>Tags are always written with a &lt;between these marks&gt;, and are critical to scripts, as the primary way to read data.
        <br>Learn about how tags work in <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.
    </div>
    
    <input type="text" id="search_bar" placeholder="Search Tags...">
    <script>
        document.getElementById('search_bar').addEventListener('keydown', function(e) {
            if (!e)  {
                var e = window.event;
            }
            if (e.keyCode == 13) {
                document.location.href = '/Docs/Tags/' + document.getElementById('search_bar').value;
            }
        }, false);
    </script>
    <br><br>

    @if (Model.IsAll)
    {
        <h5>Showing all @Model.Max tags...</h5>
    }
    else
    {
        <h5>Showing @Model.CurrentlyShown out of @Model.Max tags...</h5>
    }
</span>

@Model.Content
