@{
    ViewData["Title"] = "Home";
    ViewData["Description"] = "Tag Search";
    ViewData["MetaColor"] = "#FFFFFF";
}

<span class="center_helper">
    <div class="jumbotron">
        <h3>Denizen Script Tags</h3>
        <br>Tags are always written with a &lt;between these marks&gt;, and are critical to scripts, as the primary way to read data.
        <br>Learn about how tags work in <a href="https://guide.denizenscript.com/">The Beginner's Guide</a>.
    </div>
</span>
